# Une bibliothèque

Au cours de cet exercice, vous apprendrez à mettre sur pied une véritable base de données relationnelle. Cette base de données sera composée de trois tables reliées entre elles par un mécanisme de clé primaire et clé étrangère.

## Connexion à la base de données

Avant tout, importez le module python qui permet d’utiliser les instructions SQLite.

In [ ]:
# Your code here

Mettez en place une connexion à un fichier `library.db`.

In [ ]:
# Your code here

Instanciez à présent sur cette connexion un objet `Cursor`.

In [ ]:
# Your code here

## La structure de la base de données

Prenez tout d’abord connaissance du fichier [*library.xml*](../data/library.xml). Il représente deux tables :
- *books*
- *authors*

La table *books* est composée des champs évidents comme *title*, *pub_year*, *summary* et *grade*, auxquels il faut rajouter ceux qui forment les attributs *ref_author*, *xml:lang*, *original_title*, *original_title_lang*.

Pour la table *authors*, on peut lister : *id_author*, *lastname*, *firstname*, *birth*, *death* et enfin *place*, qui est commun aux deux précédents.

### Créer la table *authors*

Avant de lancer une instruction `CREATE TABLE`, définissez pour chaque champ le type de données qu’il va enregistrer, décidez si vous souhaitez les rendre obligatoires ou non et attribuez-leur une éventuelle valeur par défaut. Enfin, décidez si l’un ou l’autre de ces champs devrait être considéré comme une clé primaire ou une clé étrangère.

|field|datatype|NULL|default|key|
|:-|:-:|:-:|:-:|:-:|
|id_author|TEXT|NOT NULL|-|PRIMARY KEY|
|lastname|TEXT|NOT NULL|-|-|
|firstname|TEXT|NOT NULL|-|-|
|birth|TEXT|NOT NULL|-|-|
|death|TEXT|NOT NULL|-|-|
|place|TEXT|NOT NULL|-|-|
|place|TEXT|NOT NULL|-|-|

Remarquez les champs `place` et `place` qui non seulement sont nommés de la même manière mais ont pour vocation à recevoir tous deux le même genre de données, à savoir le nom d’une localité. Mettons-les provisoirement de côté.

Ensuite, sur la base de cette liste, rédigez l’instruction SQL équivalente.

In [ ]:
# Your code here

Et exécutez-la sur l’objet `Cursor` que vous avez instancié plus tôt.

In [ ]:
# Your code here

### Créer la table *books*

Comme pour la table *authors*, établissez une liste des champs de données avec les options éventuelles. Rajoutez un champ *id_book* afin de fournir chaque enregistrement d’un identifiant.

|field|datatype|NULL|default|key|
|:-|:-:|:-:|:-:|:-:|
|id_book|INTEGER|NOT NULL|-|PRIMARY KEY|
|ref_author|TEXT|NOT NULL|-|FOREIGN KEY|
|lang|TEXT|NOT NULL|-|-|
|title|TEXT|NOT NULL|-|-|
|original_title|TEXT|-|-|-|
|original_title_lang|TEXT|-|-|-|
|pub_year|INTEGER|NOT NULL|-|-|
|summary|TEXT|NOT NULL|-|-|
|grade|INTEGER|NOT NULL|-|-|

Traduisez ensuite cette liste sous forme d’instruction SQL.

In [ ]:
# Your code here

Exécutez maintenant l’instruction SQL.

In [ ]:
# Your code here

### Créer la table *places*

Intéressons-nous maintenant aux champs *places* que nous avons mis de côté. Plutôt que d’insérer deux champs identiques dans la table *authors*, l’idée est de créer une troisième table qui identifierait un lieu de manière unique, référencée ensuite dans la table des auteurs. Définissez dans un premier temps cette table *places*.

|field|datatype|NULL|default|key|
|:-|:-:|:-:|:-:|:-:|
|id_place|INTEGER|NOT NULL|-|PRIMARY KEY|
|place|TEXT|NOT NULL|-|-|

Traduisez cette liste en une instruction SQL et exécutez-la.

In [ ]:
# Your code here

### Mettre à jour la table *authors*

Prévoir pour la table *authors* deux champs de référence à la clé `id_place` de la table *places*. Réécrivez la liste des champs en intégrant cette contrainte.

|field|datatype|NULL|default|key|
|:-|:-:|:-:|:-:|:-:|
|id_author|TEXT|NOT NULL|-|PRIMARY KEY|
|ref_birthplace|INTEGER|NOT NULL|-|FOREIGN KEY|
|ref_deathplace|INTEGER|NOT NULL|-|FOREIGN KEY|
|lastname|TEXT|NOT NULL|-|-|
|firstname|TEXT|NOT NULL|-|-|
|birth|TEXT|NOT NULL|-|-|
|death|TEXT|NOT NULL|-|-|

Si la norme SQL permet de rajouter une clé étrangère à une table existante, la version allégée SQLite impose de redéfinir la table *authors*. Il vous faut par conséquent la supprimer avant !

In [ ]:
# Your code here

Avant de la redéfinir avec les deux champs de référence à `places.id_place`.

In [ ]:
# Your code here

### Constituer des index

Identifiez au sein des trois tables, les champs qui pourraient servir d’index.

|table|field|unique|
|:-|:-:|:-:|
|authors|lastname|-|
|books|title|-|
|books|original_title|-|
|places|place|UNIQUE|

Exécutez les instructions sql équivalentes.

In [ ]:
# Your code here

## Intégrer les données

À présent que la structure de la base de données est bien définie, il reste à enregistrer les données à l’intérieur.

### Lire le fichier XML

Cette étape suppose d’extraire les informations du fichier XML. Dans un premier temps, appelez le module Python qui propose une interface XML et chargez la racine du fichier dans une variable `root`.

In [ ]:
# Your code here

### Remplir la table *places*

Récupérez ensuite une liste dédoublonnée des lieux de vie et de mort renseignés pour les auteurs à l’intérieur des attributs `places`.

In [ ]:
# Your code here

À partir de cette liste, construisez une instruction SQL pour remplir la table *places*.

In [ ]:
# Your code here

Si les transactions sont couronnées de succès, l’instruction suivante devrait renvoyer la liste des enregistrements :

In [ ]:
# Print all the records in the table 'places'
for row in c.execute("SELECT * FROM places"):
    print(row)

### Remplir la table *authors*

Répétez les opérations pour la table *authors*. Pour renseigner les clés étrangères `birthplace` et `deathplace`, vous devrez établir une correspondance avec les identifiants de la table *places*.

In [ ]:
# Your code here

Exécutez le code ci-dessous pour vérifier que vous disposez bien de quatre enregistrements :

In [ ]:
# Print all the records in the table 'authors'
for row in c.execute("SELECT * FROM authors"):
    print(row)

### Remplir la table *books*

Et pour la table *books* !

In [ ]:
# Your code here

Encore une fois, si tout s’est bien passé, le code ci-dessous devrait afficher la liste des livres :

In [ ]:
for row in c.execute("SELECT * FROM books"):
    print(row)

### Sauvegarder les transactions

En dernier lieu, n’oubliez pas d’enregistrer toutes vos transactions et de fermer la connexion à la base de données !

In [ ]:
# Your code here

## Extraire des données

Tout est en place, nous allons maintenant essayer d’extraire quelques informations de la base de données. Comme la connexion à été fermée précédemment, il faudra avant tout la rouvrir et instancier un nouvel objet `Cursor`.

In [ ]:
# Your code here

**Q1 :** Combien de livres existe-t-il dans la base ?

In [ ]:
# Your code here

**Q2 :** Quelle est la date de naissance de Flaubert ?

In [ ]:
# Your code here

**Q3 :** Listez, par ordre alphabétique, les titres des livres et leurs auteurs

In [ ]:
# Your code here